/* Start Global Rules */
:root {
    --main-color: #3a6cf4;
    --main-color-alt: #6e3de1;
    --second-color: #4e9eff;
    --main-transition: 0.3s;
    --section-padding: 100px;

}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small screen */
@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium screen */
@media(min-width: 992px) {
    .container {
        width: 970px
    }
}

/* large screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.title {
    display: flex;
    justify-content: center;
    color: var(--main-color);
    font-size: 2.2em;
    font-weight: 800;
}

.social-icons a {
    color: white;
    font-size: 1.6em;
    padding-right: 15px;
}

.social-icons a i {
    transition: var(--main-transition);
}

.social-icons a:hover .linkedin {
    color: #0077b5;
}

.social-icons a:hover .twitter {
    color: #1da1f2;
}

.social-icons a:hover .youtube {
    color: #ff0000;
}

.social-icons a:hover .facebook {
    color: #1877f2;
}

/* End Global Rules */
/* Start Header */
header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 100;

}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}



header .container .logo {
    color: var(--main-color);
    font-weight: 700;
    font-size: 28.8px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header .container .logo i {
    font-size: 25px;
}

header .navigation {
    display: flex;
    justify-content: space-between;

}

header .navigation a {
    color: var(--main-color);
    font-weight: 500;
    font-size: 17px;
    padding-left: 30px;
    transition: var(--main-transition);
}

header .navigation a:hover {
    color: var(--main-color-alt);
}

@media (max-width:767px) {
    header .container .logo {
        font-size: 25px;
    }

    header .container .logo i {
        font-size: 22px;
    }

    header .navigation a {
        font-size: 17px;
        padding-left: 10px;
    }
}

/* End Header */
/* Start section */
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../image/section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.main::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.main h2 {
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    color: var(--second-color);
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 10px;
    text-shadow: 0 1px 2px black;
}

.main h3 {
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 0;
}

.main .main-button {
    display: inline-block;
    color: white;
    background-color: var(--main-color);
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.9375em 1.25em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main .main-button:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}


/* End section */
/* Start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #000016;
}

.services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 75px;
}

.services .box {
    /* border: 1px solid black; */
    box-shadow: inset 0 5px 20px rgba(1 1 1 /13%), 0 5px 4px rgba(1 1 1 /12%);
    border-radius: 10px;
    background-color: #f8f3f3;
    padding: 25px;
    transition: var(--main-transition);
}

.services .box:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 25px rgba(1 1 1 /20%);
}

.services .box .icon {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #cfd0d1;
}

.services .box .icon i {
    font-size: 120px;
    /* color: var(--second-color); */

    text-shadow: 0 1px 2px #000;
}

.red {
    color: #ff0000;
}

.green {
    color: #00ff00;
}

.blue {
    color: #0000ff;
}

.services .info {
    text-align: center;
}

.services .info h3 {
    color: var(--second-color);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.services .info p {
    color: #777;
    line-height: 1.7;
}

/* End services */
/* Start Projects */
.Projects {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../image/projects.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;

}

.Projects::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.Projects .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 75px;
}

.Projects .box {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: var(--main-transition);
    /* padding: 1px; */

}

.Projects .box:hover {
    transform: translateY(-10px);

}

.Projects .box .image {
    overflow: hidden;
    border-radius: 10px;
}

.Projects .box .image img {

    width: 100%;
    max-width: 100%;
    transition: var(--main-transition);
    filter: grayscale(0.5);
}

.Projects .box:hover img {
    filter: grayscale(0);
}

.Projects .box .info {
    padding: 1em;
}

.Projects .box .info p {
    color: #777;
    line-height: 1.7;
    font-size: 13px;
}

.Projects .box .info .pro-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;


}

.Projects .box .info .pro-info span {
    text-transform: capitalize;
    font-weight: 800;
}

.Projects .box .info .pro-info a {
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: normal;
}

.Projects .box .info .pro-info a:hover {
    color: var(--main-color-alt);
}

/* End Projects */
/* Start contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #000016;
}

.contact .container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 50px;
    margin-top: 50px;
}

.contact .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 75px;

}

.contact .content .box {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.contact .container .box i {
    margin-bottom: 10px;
    font-size: 30px;
    color: #a8ddef;
}

.contact .container .box .info {
    font-size: 20px;
    line-height: 1.5;
    color: white;
}

.contact .container .box span {
    display: inline-block;
    width: 100%;
}

.contact .image {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    margin: 0 auto;
    width: 350px;
}

.contact .image img {
    max-width: 100%;
}

/* End contact */
/* Start video */
.video {
    position: relative;
}

.video::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0 0 0 / 40%);
}

.video video {
    width: 100%;

}

.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 50px;
    text-align: center;
    background-color: rgba(58 108 244/70%);
}

@media (max-width:767px) {
    .video .text {
        padding: 35px 50px 20px;
    }
}

.video .text h2 {
    margin: 0 0 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.video .text p {
    margin-bottom: 30px;
}

.video .text button {
    background-color: white;
    color: var(--main-color);
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}



/* End video */

/* Start Footer */
.footer {
    background-color: #000016;
}

.footer .container {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    font-size: 18;
    font-weight: 600;
    color: white;
}

.footer-title span {
    color: var(--main-color);
}


.footer .social-icons a i {
    font-size: 18px;
}

@media (max-width:767px) {
    .footer .container {
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
    }

    .footer .social-icons {
        margin-top: 5px;
    }
}

/* End Footer */